<h1>Here is the profile of a selected user</h1>
<%= render @user %>

<div>
    <p>Bio : </p>
    <p><%= @user.bio%></p>
</div>

<ul>
   <% @user.recent_posts.each_with_index do |post, i|%>
        <li>
        <p>Post <%=i+1%></p>
        <p><%= post.text%></p>
        <p>Coments : <%= post.comments_counter.to_i%> </p>
        <p>Likes : <%= post.likes_counter.to_i %> </p>
        </li>
    <%end%>
</ul>

<button class='btn'>
<%= link_to "See all posts", user_posts_path(@user) %>
</button>