<%= render @user %>

<ul>
    <% @posts.each_with_index do |post, i|%>
        <li>
        <%= link_to user_post_path(@user.id, post.id) do%>
        
            <p>Post #<%=i+1%></p>
            <p><%= post.text%></p>
            <p>Coments : <%= post.comments_counter.to_i%> </p>
            <p>Likes : <%= post.likes_counter.to_i %> </p>
        <% end %>
        </li>
        <div class="<%= comments?(post)%>">
            <% post.comments.each do |comment|%>
                <p>
                    <%=comment.user.name%> :
                    <%= comment.text%>
                </p>
            <%end%>
        </div>
    <%end%>
</ul>
