<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>


<div class="show-post">
    <div class="show-post-user">
    <div>
      <h2>
      Post #<%= @post.user.posts.find_index(@post)+1 %> by:   <%= @post.user.name%>
      </h2>
      <p>
      Comments: <%=@post.comments.size%> Likes: <%=@post.likes_counter.to_i%>
      <%if can? :destroy, @post%>
      <button>
        <%=link_to "Delete", @post, method: :delete%>
      </button>
      <%end%>
      
      </p>
    </div>

    <p><%=@post.text%></p>
    </div>
    <div class="<%= comments?(@post)%> user-comments">
            <% @post.comments.each do |comment|%>
                <p>
                    <%=comment.user.name%> :
                    <%= comment.text%>
                    <%if can? :destroy, comment%>
                    <button>
                        <%=link_to "Delete", comment, method: :delete%>
                    </button>
                    <%end%>
                </p>
            <%end%>
    </div>

</div>

<div>
<%= render partial: 'comments/form'%>
<%= render partial: 'likes/form'%>
<div class="btn-div">
    <button class="back-btn">
        <%=link_to 'Back', user_posts_path(@post.user)%>
    </button>
</div>
</div>